html,
body {
  margin: 0;
}

/*--CSS GRIDS--*/
.grid-container {
  display: grid;

  grid-template-columns: 300px auto auto;
  grid-template-rows: auto auto auto;

  grid-gap: 0px;
}

.grid-container > div {
  text-align: center;
 
  padding: 0px;
 
  font-size: 20px;
  color: white;
}

/*sidebar*/
.gridItem_sidebar {
  grid-column: 1 / 2;
}
/*body*/
.gridItem_body {
  grid-column: 2 / 4;
}

/*Footer*/
.gridItem_footer {
  grid-column: 1 / 4;
  grid-row: 2/3;
  background-color: rgb(85, 85, 85);
  height: 100%;
}

/*-Mobile*/
@media only screen and (max-width: 1000px) {
  .grid-container {
    display: grid;
  
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto auto;
  
    grid-gap: 0px;
  }

  .gridItem_sidebar {
    grid-column: 1 / 2;
      grid-row: 1/2;
    
   
  }
  
  
  .gridItem_body {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  
  .gridItem_footer {
    grid-column: 1/2;
    grid-row:  3 / 4;
  }
}

/*Sidebar Properties*/
.sidebar {
  height: 100%;



  background-color: rgb(202, 53, 53);
}

.sidebar h1 {
  color: brown;
}
.sidebar h2 {
  color: rgb(136, 136, 136);
}




/*BUTTONS*/
.sidenav {
  height: 100%;
  width: 100%;

  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(48, 48, 48);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}



@media only screen and (max-width: 1000px) {

  .sidenav{
    visibility: hidden;
  }



  .burger-active{
    visibility: visible;
  }


}





/*FLEXBOXES*/

.flex-container {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: auto;
  padding: 0px;
  margin: 0px;

}

.flex-item {
  padding: 2px;
  margin: 10px;

  background-color: #181818;

  width: calc(40%);

  height: 100%;
}

@media (max-width: 800px) {
  .flex-item {
    background: #060809;
    padding: 10px;

    width: 100%;

    height: 100%;
  }
}

.textContainer h1 {
  color: brown;
}
.base {
  color: brown;
}


/*
.imageContainer {
  width: 100%;
  height: 100%;

  padding: 0;
}

.imageContainer img {
  display: block;
  float: left;
}
*/
/*
.textContainer {
  font-size: 70%;
  text-align: left;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  padding: 10px;
}
*/
.textBar {
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

/*Image Text Side By Side*/

.somesection {
  margin-top: 50px !important;
}
body {
  font-size: 17px;
  font-family: Helvetica Neue;
}
img {
  max-width: 100%;
}

.overlay-text {
  font-size: 3.5vw;
  float: right;
  width: 65%; /*important*/
  bottom: 21vw; /*important*/
  padding: 25px;
  background: #f7f7f7;
}

#demo-box {
  background-color: rgba(255, 255, 255, 0.712);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 60%;
  z-index: -10;
}
